::-webkit-scrollbar {
    width: 0px;
}


* {
    margin: 0px;
    padding: 0px;
}
body{
    height: 500vh;
}
.logo img{
width: 42px;
}

.control-error{
    color:red;
    font-size:15px;
}
.header{
    background: white;
}
.nav a{
    font-size: 20px;
 color:black;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;}


.navbar1 ul li {
    position: relative;
display: inline-block;


}
.navbar1 a{
    font-size: 1rem;
    padding: 10px 20px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif ;}
.navbar1 ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:orange;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar1 ul li a:hover::after {
    width: 100%;
    color: #1d2951 !important;
}
/*#homeimg{
    background: url("/assets/img/web/Car Website – 1@2x.png");
    background-size: cover;
    background-position: right;
}*/
#home {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    z-index: 10;
    border-top: 1px solid black;
    background: url("/Front_End/assets/img/web/Car Website – 1@2x.png");
    background-size: cover;

}
#signin:hover{
    background-color: #1d2951;
}
#headrH3{

    font-family: cursive;
    color:#0c5460;
    right: 50px;
}
#headrH3 span{
    color: darkorange;
}

#homeTitle{
    top: 120px;
    right: 28px;
}
#hometitle1{
    color: orange;
    font-size: 60px;
}
#homeTitel2{
    bottom: 24px;
    font-size: 40px;
}

#homeTitel3{
    bottom: 30px;
}
#homeimg1{
bottom: 25px;
right: 20px;

}
#homeimg2{
    bottom: 25px;
    right: 120px;

}
#rideUser {
    width: 50px;
    height: 50px;
}
#rideUser1 {
    width: 50px;
    height: 50px;
}
#rideUser2 {
    width: 50px;
    height: 50px;
}
#ride1{
    margin-top: 50px;
}
/*
#aboutimge{
    width:100vw;
    height: 75vh;
    background-image: url("/assets/img/web/about.png");

    background-position: center;
    background-size: cover;
}*/
#about{
    height: 120vh;
}
#searchCar{
    width:75vw;
    height: 197px;
    background-position: center;
    background-size: cover;
    background-color: white;
}
#checkCar{
    bottom: 120px;
    left: 150px;
    height: 200px;

}
.form-label {
    margin-left: 25px;
    font-size:15px;
    font-weight: bold;
    color:black;
}

.form-control {
    margin-left: 28px;
   /* border-radius: 20px;
    padding: 10px;*/
}
.searchCar{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.card-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-list-item {
    flex: 1;
    text-align: left;
    list-style: none;
    color: white;
    font-size: 16px;
}
